body{
    margin:0;
}
.header{
    text-align: center;
    background-color: #e6e6e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:3rem;
    padding-bottom:3rem;
}

.header-content{
    margin-top:0;
    margin-bottom:0;
    margin-left:1rem;
    margin-right:1rem;
}

#title{
    padding-top:1rem;
    font-weight: normal;
    font-size: 2rem;
}

#conference{
    padding-top:0.5rem;
    font-weight: normal;
    font-size: 1.5rem;
}

#authors{
    padding-top:0.5rem;
    font-weight: normal;
    font-size: 1rem;
}

#university{
    padding-top:0.5rem;
    font-size: 1rem;
}

#links{
    padding-top:0.5rem;
    font-size: 1.5rem;
}

#banner{
    padding-top:1rem;
    width:50rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    height:0;
    border:0;
    border-top:1px solid;
    box-sizing: content-box;
}

.body-title{
    padding-top:1rem;
    font-weight: normal;
    font-size:1.7rem;
}

.abstract{
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
    max-width:1000px;
    vertical-align: middle;
}

#abstract-body{
    text-align: left;
}

.dataset{
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
    max-width:1000px;
    vertical-align: middle;
}

#dataset-body{
    text-align: left;
}

#model-viewers{
    display:flex;
}

.viewers{
    flex: 0 0 16.66667%;
    max-width: 16.66666%;
    padding-left:1rem;
    padding-right:1rem;
}
